/* Write your CSS here */
.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #cbd5e1;
  color: #475569;
}
